.copyright{
  margin-top:46px !important;
  padding-bottom:52px !important;

  text-align:center !important;

  font-size:9px !important;
  line-height:1.9 !important;

  color:#9ea69a !important;

  opacity:.68 !important;

  letter-spacing:-0.3px !important;

  user-select:none !important;
  pointer-events:none !important;

  font-weight:500 !important;
}