.toast{
  top:auto;
  bottom:86px;
}

.copyright{
  margin-top:42px;
  padding-bottom:40px;

  text-align:center;

  font-size:9px;
  line-height:1.9;

  color:#a7afa0;

  opacity:.72;

  letter-spacing:-0.2px;

  user-select:none;
  pointer-events:none;
}